<div class="separator">
<center><p>Title: <%=@ghibli.title%><p></center>
</div>
<div class="separator">
<center><p>Original Japanese Title: <%=@ghibli.original_title %></p></center>
</div>
<div class="separator">
<center><p>Description: <%=@ghibli.description %></p></center>
</div>
<div class="separator">
<center><p>Director: <%=@ghibli.director %></p></center>
</div>
<div class="separator">
<center><p>Release Date: <%=@ghibli.release_date %></p></center>
</div>
<div class="separator">
<center><p>Rotten Tomatoes: <%=@ghibli.rt_score %></p></center>
</div>
