<h1>Title:<%=  @review.title%></h1>
<h1>Content:<%= @review.content %></h1>

<div>
<form action="/reviews/<%= @review.id %>" method="post">
    <input type="hidden" name="_method" value="delete"> 
    <button type="submit" name ="Delete" value="delete" alt="Delete"><img src="/images/ghiblisubmitbutton.png" width=55></button></div>
</form>


<form method="get" action="/reviews/<%=@review.id%>/edit">
  <input type="submit" value="Edit review">
  <button type="submit" name ="Edit" value="edit" alt="Edit"><img src="/images/ghiblisubmitbutton.png" width=55></button></div>
</form>
</div>





<% if logged_in? && current_user.id==@review.user_id %>
    <%= flash[:notice] = "Review user relationship verified"%>
<% end %>

