<div class="separator">
<center><p>Title: <%=@review.title%><p></center>
</div>
<div class="separator">
<center><p>Content: <%=@review.content %></p></center>
</div>


  <form action="/reviews/<%= @review.id %>" method="post"> 
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-primary bg-red" type="submit" value="Delete">
  </form>



  <form method="get" action="/reviews/<%=@review.id%>/edit">
    <input type="submit" name="_method" value="Edit review">
    <input class="btn btn-primary bg-blue" type="submit" value="Update">
  </form>





<% if logged_in? && current_user.id==@review.user_id %>
    <%= flash[:notice] = "Review user relationship verified"%>
<% end %>

